<ion-view view-title="Books">
  <ion-content>

    <ion-card ng-repeat="object in books">
      <ion-item ng-repeat="book in object">
          <div class="item item-divider">{{book.author}}</div>
          <div class="item item-body">
            <ion-card-content>
              <div class="row">
                <div class="col col-80">{{book.title}}</div>
                <div class="col">
                  <button class="button button-small button-assertive">
                    <i class="icon ion-ios-trash"></i>
                    <span>Delete</span>
                  </button>
                </div>
              </div>
            </ion-card-content>
          </div>
      </ion-item>
    </ion-card>

  </ion-content>
</ion-view>
